body{
  background-color: cornsilk;
}
.flex-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#photo{
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
}
p{
  text-align: justify;
  font-size: 18px;
  width:1000px;
  background-color: rgb(245, 223, 195);
  padding: 10px;
  border:15px solid burlywood ;
  border-radius: 8px;
  
}
.skills-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin:10px;
}
#map{
  margin: 10px;
}